.navContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color:#000000;
    padding: 12px;
    position: fixed;
}
.navLink{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    color: rgb(248, 247, 247);
    font-weight: 600;
    /* background-color: rgb(129, 47, 136); */
}
.home_banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 63px;
}
.home_banner_content{
    background: rgb(22,23,22);
    background: #000000;

}
.banner_black_overlay{
    width: 200px;
    height: 500px;
    position:"absolute";
    z-index:"9999";
    border:"none"
}
.banner_data{
    padding: 75px;
    margin-top:"35px";
    font-family: 'Roboto Mono', monospace;
}
.why_urban_company{
    padding-top: 70px;
}

.why_urban_company_list{
    display: flex;
    gap: 22px;
}
.quality{
    padding-top: 50px;
    padding-left: 60px;
   
}
.playStore{
    display: flex;
    margin-top: 50px;
}
.mobileView{
    display: flex;
    padding-top: 50px;
    padding-left: 60px;
    gap: 15px;
}
.footer_container{
    background-color: black;
    color: white;
   
}
.footer_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    
    width: 90%;
   
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    border-bottom: 1px solid gray;
    
}
.footer_container_row2{
    width: 90%;
    margin: auto;
    border-bottom: 1px solid gray;
    color: white;
}
.usa_city_container{
    display: flex;
}
.usa_city_container li{
    padding-left: 15px;
}
.India_city_container{
    display: flex;
    flex-wrap: wrap;
}
.India_city_container li{
    padding-left: 20px;
}
.footer_container_row3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* justify-content: space-between; */
    grid-template-rows: 80px;
    width: 90%;
    margin: auto;
    color: white;
}
.social_icons{
    display: flex; 
    margin-top: 30px;
}
.social_icons Link{
    size: 29px;
}